@import 'tailwindcss';

/* Hide scrollbars globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Base styles */
body {
  font-family: var(--font-stack);
  color: var(--primary-text);
  background-color: black;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border: 1px solid black;
}

.splash-bg {
  position: relative;
  background-color: #fcfcfc;
  overflow: hidden;
}

.splash-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/noise-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.16;
  z-index: 0;
}

.splash-bg > * {
  position: relative;
  z-index: 1;
}

.gradient-border {
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 8px 16px;
  background-image:
    linear-gradient(#fff, #fff),
    linear-gradient(
      90deg,
      rgba(71, 248, 195, 0.8) 0%,
      rgba(89, 157, 176, 0.8) 33.65%,
      rgba(153, 69, 255, 0.8) 66.83%,
      rgba(196, 79, 226, 0.8) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.touch-pan-x {
  touch-action: pan-x;
}

.box-shadow {
  box-shadow: 0px 4px 14px 0px #00000040;
}
